<app-header></app-header>
<app-recipes></app-recipes>
<!--  <app-recipe-list></app-recipe-list> -->
<!-- <app-recipe-item></app-recipe-item> -->
<!-- <app-recipe-detail></app-recipe-detail> -->
<!-- <app-shopping-edit></app-shopping-edit> --> 
<app-shopping-list></app-shopping-list>
<!-- <app-footer></app-footer> -->
   <!-- <h2>gandla</h2>
     <h5 style="color:red;">devikanth</h5>
     <pre>i am from guntur,
       i completed B.Tech,
       i belongs to the Electronics,
       i am learning angular</pre> -->
               
       